<h1><%= @appsoft.name %>详细信息</h1>

<br /><a href="/">返回</a>

<br />
<br />
<a href="/upload/<%= @appsoft.apk_path%>">Download</a>
<br />
<br />

【包名：】<%= @appsoft.package_name %><br />
【大小：】<%= @appsoft.size %><br />
【Brief: 】<%= @appsoft.brief %><br />
【Author: 】<%= @appsoft.author %><br />
【Language: 】<%= @appsoft.language %><br />
【Fever: 】<%= @appsoft.fever %><br />
【App_type: 】<%= @appsoft.app_type %><br />
【Version: 】<%= @appsoft.version %><br />
【Small_sdk: 】<%= @appsoft.small_sdk %><br />



<% Appimg.where(:app_id => @appsoft.id).each do |img| %>
<img src="/upload/<%= img.app_id %>_<%= img.id %><%= File.extname(img.imgname)%>" /> <br />
<% end %>
